body{
	font-family: 'Lato', sans-serif;
	background-color:#0FE8E6;
	text-align: center;
}
h1{
	font-size:4em;
}
a{
	/*primero atributos*/
	text-decoration: none;
	background: red;
	padding: 10px 20px;
	color:white;
	
	/*tamaño de la a*/
	font-size:3em;
	
	/*bode*/
	border-radius: 20px;

	/*que baje y negrita*/
	font-weight: bold;
	margin-top: 10px;
}
h1#redo{
	/*logitud de h1*/
	font-size:4em;
	padding: 15%;
	
	/* esto va asi arriba, derecha, abajo y izquierda */
	margin: 40px 30%;
	background:#171F89; 

	/*bordear*/
	border-radius: 70em;
}










